@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.layout-with-sidebar{
  display: grid;
  height: 100vh;
 
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.15fr auto;
  grid-template-areas: 
            "nav nav nav nav nav"
            "sidebar main main main main";
}

.layout-without-sidebar{
  display: grid;
  height: 100vh;
 
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr auto;
  grid-template-areas: 
            "nav nav nav nav nav"
            "main main main main main";
  
}


header {
  /* background-color: yellow; */
  grid-area: nav;
  box-shadow: 0 10px 10px black;
  
}
aside {
  background-color: white;
  grid-area: sidebar;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);

  
 
}

section {
  background-color: #F0F4FB;
  grid-area: main;
  overflow-y: auto;
  

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 80px);
 
}
section::-webkit-scrollbar{
  width: 0px;
}
